<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>881542895804-8f4a5g5sph4e2718bbqsslc2c75gnrrh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881542895804-8f4a5g5sph4e2718bbqsslc2c75gnrrh</string>
	<key>API_KEY</key>
	<string>AIzaSyAbQgYzmYP18HVejSMlJ76bCjTnf9tARl4</string>
	<key>GCM_SENDER_ID</key>
	<string>881542895804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HaydenJamieson.MealPlanner</string>
	<key>PROJECT_ID</key>
	<string>mealplanner-97e3d</string>
	<key>STORAGE_BUCKET</key>
	<string>mealplanner-97e3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881542895804:ios:6422ac39a685747f</string>
	<key>DATABASE_URL</key>
	<string>https://mealplanner-97e3d.firebaseio.com</string>
</dict>
</plist>